html, body {
    height: 100%;
    margin: 0;
  }
  
  router-outlet {
    min-height: 100%;
  }
  
  .content {
    padding: 20px;
    padding-bottom: 50px;
  }
  
  app-footer {
    height: 50px;
    margin-top: -50px;
  }
  